<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Save Employee</title>
</head>
<body>
<div class="container">
    <h3>Salary Directory</h3>
    <hr>

    <p class="h4 mb-4">Save Employee</p>
    <form action="#" th:action="@{/save}"
          th:object="${aMoneyBag}" method="post">

        <!-- Add hidden form field to handle update: binds to the model attribute, Tells app which employee to update-->
        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{name}"
               class="form-control mb-4 col-4" placeholder="Budget Entry Name">


        <select th:field="*{budgetType}" class="custom-select form-control mb-4 col-4">
            <option th:each="temp : ${budgetChooser.keySet()}"
                    th:value="${budgetChooser.get(temp)}" th:text="${temp}"></option>
        </select>

        <input type="text" th:field="*{bank}"
               class="form-control mb-4 col-4" placeholder="Bank">

        <select th:field="*{bankingAccountClass}" class="custom-select form-control mb-4 col-4">
            <option th:each="temp : ${bankType.keySet()}"
                    th:value="${bankType.get(temp)}" th:text="${temp}"></option>
        </select>


        <input type="text" th:field="*{amount}"
               class="form-control mb-4 col-4" placeholder="amount deposited">

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/}">back to Employees List</a>
</div>
</body>
</html>